@import "tailwindcss";

@theme {
  --color-pale-yellow: oklch(0.7544 0.1136 80.05);
  --color-pale-gray: oklch(0.3689 0.0074 334.21);
  --color-yellow-hover: oklch(0.8622 0.1681 88.31);
  --color-gray-hover: oklch(0.5625 0.021 103.71);
  --color-red-disabled: oklch(0.4208 0.1497 8.91);
}

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "reeba";
  color-scheme: light;

  --color-primary: oklch(0.7544 0.1136 80.05);
  --color-secondary: oklch(0.3689 0.0074 334.21);
  --color-accent: oklch(1 0 0);
  --color-neutral: oklch(0.7544 0.1136 80.05);
  --color-base-100: oklch(0.3689 0.0074 334.21);
  --color-info: oklch(0.7585 0.1374 231.62);
  --color-success: oklch(0.7733 0.1529 163.1);
  --color-warning: oklch(0.833 0.1642 83.42);
  --color-error: oklch(0.7122 0.1649 22.15);
}
